/*! minireset.css v0.0.3 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

img,
embed,
iframe,
object,
audio,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  text-align: left;
}
.results-table {
  .table-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #f7f5f4;
    padding: 0 1rem;
  }

  .table-header .header-item {
    font-family: "Roboto Condensed", sans-serif;
    line-height: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 1.5px;
  }
}

.results-table .table-contents {
  padding-top: 0.25rem;
}

.results-table .table-contents .content-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 1rem;
}

.results-table .table-contents .content-row .row-item {
  font-family: "Roboto Mono", monospace;
  font-size: 14px;
  line-height: 1.75rem;
}
